/* Blach header CSS */
.balck-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    Width: Hug (859px);
    Height:Hug (24px);
    Top: 12px;
    Left: 445px;
    Gap: -231px;
}
.bh-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 48px;
    align-items: center;
   background-color: #000000;
}
.bh-p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #fafafa;
}
.bh-a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #fafafa;
    margin-bottom: 3px;
}
.bh-drop{
    display: flex;
    width: Hug(550px);
    height: Hug(24px);
    gap: 8px;
}
.bh-top{
    display: flex;
    width: Hug(550px);
    height: Hug(24px);
    gap: 8px;
    justify-content: center;
}
#bh-down{
    width: 7.78px;
    height: 12.73px;
    top: 8px;
    left: 18.73px;
    margin-top: 18px;
}

/* navbar CSS */
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 148px;
    
    position: absolute;
    width: 1170px;
    height: 38px;
    left: 135px;
    top: 88px;
    }
    .exc{
    width: 118px;
    font-family: 'poppins';
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .anchor{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    width: 367px;
    height: 24px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    
    .anchor a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    width: 48px;
    height: 24px;
    color: #000000;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    font-family: 'poppins';
    width: 347px;
    height: 38px;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    }
    .search p{
        color: #000000;
        font-family: 'poppins';
        background: rgb(238, 231, 231);
        padding: 10px;
    }

/* Login Page CSS */
#login-main{
    width: 1305px;
    height: 781px;
    top: 200px;
    gap: 129px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    justify-content: space-around;
    margin-left: 20px;
}
#login-img{
    width: 805px;
    height: 781px;
    padding: 75px, 0px, 0px, 0px;
    border-radius: 0px, 4px, 4px, 0px;
}
#login-form{
    width: 371px;
    height: 326px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#login-inpt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 370px;
    height: 32px;
    border: none;
}
#login-btn{
    width: 143px;
    height: 56px;
    gap: 16px;
    background: #DB4444;
    border-radius: 4px;
    border: none;
}
#login{
    text-decoration: none;
    color: #fff;
}
#login-fgt{
    width: 371px;
    height: 56px;
    gap: 87px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#fgt-pass{
    text-decoration: none;
    color: #DB4444;
}

/* footer css */
.footer-row{
    display: flex;
    width: 1170px;
    height: 236px;
    margin-left: 115px;
    top: 80px;
    gap: 87px;
}
.footer-sive{
    width: 217px;
    height: 188px;
    gap: 16px;
}
footer{
    width: 100%;
    height: 440px;
    background-color: #000000;
}
.copr{
    display: flex;
    align-items: center;
    justify-content: center;
}
#icon-send{
    width: 24px;
    height: 24px;
}
.footer-mag{
    width: 80px;
    height: 80px;
}
.footer-play{
    width: 110px;
    height: 40px;
}
.footer-store{
    width: 110px;
    height: 40px;
}
hr{
    width: 1330px;
    margin-left: 5px;
}
.down-foot{
    width: 1440px;
    height: 40px;
    gap: 16px;
    opacity: 20%;
    color: #FAFAFA;
    margin-top: 146px;
}
.footer-clu{
    width: 118px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #fafafa;
}
.footer-img{
    /* Send Mail */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px 12px 16px;
gap: 32px;

width: 217px;
height: 48px;

/* Text */
border: 1.5px solid #FAFAFA;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}
#ent{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
    opacity: 10%;
}
.mail{
    border: 1.5px solid white;
    padding: 12px 0px 12px 16px;
    border-radius: 4px;
    width: 217px;
    height: 28px;
    color: #fafafa;
    background-color: black;
}
.footer-off{
    width: 206px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fafafa;
}
.footer-crib{
    width: 101px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #fafafa;
}
.footer-support{
    width: 175px;
    height: 180px;
    gap: 24px;
}
.footer-port{
    width: 81px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FAFAFA;
}
.footer-esh, .footer-mail, .footer-num{
    width: 175px;
    height: 48px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
.footer-account{
    width: 123px;
    height: 236px;
    gap: 24px;
}
.footer-count{
    width: 85px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500px;
    font-size: 20px;
    line-height: 28px;
    color: #FAFAFA;
}
.footer-hug{
    width: 123px;
    height: 184px;
    gap: 16px;
}
.footer-my{
    color: #FAFAFA;
    width: 94px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.footer-my2{
    width: 123px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
.footer-my3{
    width: 35px;
    height: 24px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
.footer-my4{
    width: 61px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
.footer-my5{
    width: 41px;
    height: 24px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
.footer-quick{
    width: 109px;
    height: 196px;
    gap: 24px;
}
.footer-link{
    width: 101px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FAFAFA;
}
.footer-pol{
    width: 109px;
    height: 144px;
    gap: 16px;
}
.footer-use{
    width: 109px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
.footer-app{
    width: 198px;
    height: 162px;
    gap: 24px;
}
.footer-only{
    width: 148px;
    height: 28px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 28px;
    color: #FAFAFA;
}
.footer-urf{
    display: flex;
    width: 198px;
    height: 84px;
    gap: 8px;
}
.footer-icon1{
    margin-left: 0;
}
.footer-icon2{
    margin-top: 10px;
}
.footer-icon{
    height: 24px;
    gap: 24px;
    margin-left: 20px;
}
.footer-apple{
    width: 110px;
    height: 84px;
    gap: 4px;
}
.footer-with{
    width: 194px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    font-size: 12px;
    font-family: 'Poppins';
    color: #FAFAFA;
}